.cont {
 width: 40%;
 margin: auto;
 padding: 100px 0;
 display: flex;
 justify-content: space-between;
}
input {
 display: block;
 margin: 10px 0;
 padding: 7px;
 border-radius: 10px;
 border: none;
}
#register, #login {
 background-color: #d7eafa;
 padding: 25px 25px 15px 25px;
 border-radius: 20px;
}
#register button, #login button {
 margin-top: 15px;
}



